<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<GeneralSettings version="1.0">
  <property name="BeforeAfterCharCount" type="System.Int32">
    <value>100</value>
  </property>
  <property name="DetectFileEncoding" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="EncodingPerformance" type="System.Int32">
    <value>2</value>
  </property>
  <property name="ExclusionsDisplayColumnCategoryWidth" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="ExclusionsDisplayColumnEnabledWidth" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="ExclusionsDisplayColumnOptionWidth" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="ExclusionsDisplayColumnTypeWidth" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="ExclusionsDisplayColumnValueWidth" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="ExclusionsDisplayHeight" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="ExclusionsDisplayLeft" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="ExclusionsDisplaySavePosition" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="ExclusionsDisplayTop" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="ExclusionsDisplayWidth" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="ExtensionExcludeList" type="System.String">
    <value>
    </value>
  </property>
  <property name="FileEncodings" type="System.String">
    <value>
    </value>
  </property>
  <property name="FilePanelFont" type="System.String">
    <value>Microsoft Sans Serif||9||Regular</value>
  </property>
  <property name="ForcedEncoding" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="HighlightBackColor" type="System.String">
    <value>251-127-6-255</value>
  </property>
  <property name="HighlightForeColor" type="System.String">
    <value>255-255-255-255</value>
  </property>
  <property name="Language" type="System.String">
    <value>ta</value>
  </property>
  <property name="LogDisplayColumnDateWidth" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="LogDisplayColumnDetailsWidth" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="LogDisplayColumnTypeWidth" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="LogDisplayColumnValueWidth" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="LogDisplayHeight" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="LogDisplayLeft" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="LogDisplaySavePosition" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="LogDisplayTop" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="LogDisplayWidth" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="LongLineCharCount" type="System.Int32">
    <value>10000</value>
  </property>
  <property name="MaximumMRUPaths" type="System.Int32">
    <value>15</value>
  </property>
  <property name="RemoveLeadingWhiteSpace" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="ResultsBackColor" type="System.String">
    <value>32-32-32-255</value>
  </property>
  <property name="ResultsContextForeColor" type="System.String">
    <value>192-192-192-255</value>
  </property>
  <property name="ResultsFont" type="System.String">
    <value>Lucida Console||9.75||Regular</value>
  </property>
  <property name="ResultsForeColor" type="System.String">
    <value>255-255-255-255</value>
  </property>
  <property name="ResultsWordWrap" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="SaveSearchOptionsOnExit" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="SearchFilters" type="System.String">
    <value>*.*|;;|*.txt|;;|*.java|;;|*.htm, *.html|;;|*.jsp, *.asp|;;|*.js, *.inc|;;|*.htm, *.html, *.jsp, *.asp|;;|*.sql|;;|*.bas, *.cls, *.vb|;;|*.cs|;;|*.cpp, *.c, *.h|;;|*.asm</value>
  </property>
  <property name="SearchFiltersIndex" type="System.Int32">
    <value>0</value>
  </property>
  <property name="SearchStarts" type="System.String">
    <value>
    </value>
  </property>
  <property name="SearchTexts" type="System.String">
    <value>
    </value>
  </property>
  <property name="SetDefaultFonts" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="ShowEditorCharacters" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="ShowEntireFile" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="ShowExclusionErrorMessage" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="TextEditors" type="System.String">
    <value>notepad|@@|%1|@@|*|@@|0|@@|True</value>
  </property>
  <property name="ThemeType" type="System.Int32">
    <value>0</value>
  </property>
  <property name="UseAstroGrepAccentColor" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="UseEncodingCache" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="WindowFileColumnCountWidth" type="System.Int32">
    <value>60</value>
  </property>
  <property name="WindowFileColumnDateWidth" type="System.Int32">
    <value>140</value>
  </property>
  <property name="WindowFileColumnFileExtWidth" type="System.Int32">
    <value>110</value>
  </property>
  <property name="WindowFileColumnLocationWidth" type="System.Int32">
    <value>200</value>
  </property>
  <property name="WindowFileColumnNameWidth" type="System.Int32">
    <value>100</value>
  </property>
  <property name="WindowFileColumnSizeWidth" type="System.Int32">
    <value>80</value>
  </property>
  <property name="WindowFilePanelHeight" type="System.Int32">
    <value>195</value>
  </property>
  <property name="WindowHeight" type="System.Int32">
    <value>600</value>
  </property>
  <property name="WindowLeft" type="System.Int32">
    <value>448</value>
  </property>
  <property name="WindowsDPIPerCentSetting" type="System.Int32">
    <value>100</value>
  </property>
  <property name="WindowSearchPanelWidth" type="System.Int32">
    <value>290</value>
  </property>
  <property name="WindowState" type="System.Int32">
    <value>0</value>
  </property>
  <property name="WindowTop" type="System.Int32">
    <value>240</value>
  </property>
  <property name="WindowWidth" type="System.Int32">
    <value>1024</value>
  </property>
</GeneralSettings>